.todoContainer{
    width: 600px;
    background-color: #ffff;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: -2px 2px 2px 2px #eeeeee;
    color: #716e6e;
    font-size: 22px;
    text-align: center;
}
