.todoItem{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dbd5d5;
    padding: 10px;
}
.card_button{
    border-radius: 50%;
    color: white;
    background-color: #dbd5d5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}